/*** Mobile version first ***/

/* styles for the home page */

html {
    font-family: 'Raleway', sans-serif;
    /* for the "to the top" button */
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    margin: auto;
    width: 100%;
}

.header {
    background-color: #3C3B3A;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 88px;
    height: auto;
    align-self: center;
}

.navigation {
    align-self: center;
    color: #fff;
}

.navigation ul {
    list-style-type: none;
    padding: 0px;
}

.navigation a {
    color: white;
    text-decoration: none;
    align-items: center;
}

/* will target all the sections on the html page */
#section01,
#section02,
#section03 {
    width: 100%;
    margin: auto;
}

.content-container-01 {
    width: 70%;
    margin: auto;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 50% 50% */
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 10px 0px;
}

.icons img {
    align-self: center;
}

.intro-btn {
    background-color: #26A682;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.btn {
    background-color: #26A682;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
}

.btn a {
    color: white;
    text-decoration: none;
}

/* This is the vector image on the front page */
.girl-books {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0px 10px 0px;
}

.girl-books img {
    width: 300px;
    height: auto;
}

/* Fonts */
.heading-01 h1 {
    font-size: 4rem;
    font-weight: bolder;
    /* I tried making the h1 headings bold on all of the pages, but it didn't work. */
}

.paragraph-01 p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.icons p {
    color: #26A682;
    font-weight: 500;
}

.section-sub h3 {
    color: #26A682;
    font-weight: 700;
}

.graduation-photo img {
    width: 100%;
    height: auto;
}

.graduation-photo {
    display: inline-block;
}
/* This image will be revealed once the user uses a Deskptop viewport */
.graduation-desktop {
    display: none;
}

.content-container-02 {
    width: 80%;
    margin: auto;
}

.section-btn {
    background-color: #26A682;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin-right: 0px;
}

.president-msg {
    background-color: #3C3B3A;
    width: 100%;
    height: 400px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: center;
}

.president-content {
    width: 80%;
    margin: auto;
}

.president-photo {
    display: flex;
    justify-content: center;
    align-self: center;
}

.president-photo img {
    width: 175px;
    height: auto;
    border-radius: 100%;
    border: 5px solid white;
}

.president-name p {
    font-weight: bold;
    text-align: center;
}

.backup-name {
    display: none;
}

.girl-photo {
    width: 100%;
    margin: auto;
}

.entertainment-desktop {
    display: none;
}

.girl-photo img {
    width: 100%;
}

.entertainment-content {
    width: 80%;
    margin: auto;
}

footer {
    background-color: #3C3B3A;
    color: white;
    display: flex;
    flex-direction: row-reverse;

}

.footer-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
}

.footer-socialmedia img {
    padding: 15px;
}

.footer-text p {
    text-align: center;
}

/* .back-to-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
    bottom: 40px;
    right: 16px;
} */

/* styles for the about page */

/* this relates to the vector image on the About page */
.construction-vector img {
    width: 100%;
    height: auto;
}

.banner-about,
.banner-service {
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner-about {
    background-image: url(images/about-banner.jpg);
    background-size: cover;
}

.banner-about h1,
.banner-service h1 {
    font-size: 2.6rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    align-self: center;
}

.banner-service {
    background-image: url(images/services-banner.jpg);
    background-size: cover;
}

#about-container {
    width: 80%;
    margin: auto;
}

.about-who h3,
.about-what h3,
.about-where h3 {
    font-weight: bold;
    font-size: 2rem;
}

.service-photo01 img,
.service-photo02 img,
.service-photo03 img,
.service-photo04 img {
    display: none;
}

.middle-banner {
    background-color: #3C3B3A;
    color: white;
    width: 100%;
    height: 100px;
    margin: auto;
}

.middle-banner-content {
    width: 80%;
    height: 100px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.middle-banner-content .btn {
    margin: 0px auto;
    width: 30%;
}

.middle-banner-content h1 {
    font-size: 1.2rem;

}

.container-services-01,
.container-services-02 {
    width: 100%;
    margin: auto;
}

.service-01,
.service-02,
.service-03,
.service-04 {
    width: 80%;
    margin: auto;
}

.sponsors {
    width: 100%;
    margin: auto;
    justify-content: center;
}

.sponsors-container {
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.sponsors-title h1 {
    font-size: 4rem;
    font-weight: 700;
}

.sponsors-logo {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsors-logo img {
    width: 50%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}


/* styes for the contact page*/

.content-container-03 {
    width: 80%;
    margin: auto;
}
.contact-image {
    text-align: center;
    margin-bottom: 30px;
}

.contact-image img {
    width: 300px;
    margin: auto;
}

.contact-form {
    background-color: #26A682;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.contact-form h1 {
    font-size: 2.2rem;
    font-weight: bolder;
    padding-left: 20px;
}

.contact-form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
form input {
    border-radius: 14px;
    padding: 10px 15px;
}

.submit {
    background-color: #3C3B3A;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;

}

.submit a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* To increase the size of the text box in the form */
[type=textarea] {
    height: 100px;
}

#address {
    width: 100%;
    margin: auto;
}

.address-content {
    width: 80%;
    margin: auto;
}

/* map embedded from google maps */
.algonquin-map iframe {
    width: 100%;
    height: 450px;
    border: none;
    margin: auto;
}

/* I tried doing this, but it didn't work.
picture img {
    display: block;
    max-width: 100%;
    height: auto;
  } */

/* breakpoint - tablet */

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .navigation {
        margin-right: 50px;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .navigation ul li a {
        display: inline-block;
        padding: 15px;
    }

    .logo {
        margin-left: 50px;

    }

    /* HOME TABLET */

    .heading-01 h1 {
        font-size: 4.4rem;
        font-weight: bolder;
    }

    .paragraph-01 p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* 25% 25% 25% 25% */
        height: 130px;
        text-align: center;
    }

    .intro-btn {
        background-color: #26A682;
        padding: 10px;
        width: 35%;
        border-radius: 10px;
        text-align: center;
        margin: auto;
    }

    .btn a {
        font-weight: bold;
    }

    .girl-books {
        display: flex;
        margin: auto;
        justify-content: center;
        padding: 40px 0px;
    }

    .girl-books img {
        width: 350px;
        height: auto;
    }

    .section-photo {
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .graduation-photo img {
        position: relative;
        bottom: 200px;
    }

    .president-msg {
        width: 100%;
        margin: auto;
    }

    .president-content {
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        margin: auto;
    }

    .president-name {
        display: none;
    }

    .president-photo {
        display: flex;
        flex-direction: column;
    }

    .president-photo img {

        flex-grow: 4;
    }

    .backup-name {
        display: inline-block;
    }

    .backup-name p {
        font-weight: bold;
        text-align: center;
    }

    .president-quote {
        margin: 20px;
    }

    .girl-photo img {
        position: relative;
        bottom: 150px;
    }

    .section-btn {
        background-color: #26A682;
        height: 40px;
        width: 20%;
        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 30px;
    }

    .section-btn a {
        text-align: center;
        font-weight: bold;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    /* ABOUT TABLET */

    .construction-vector {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        padding: 40px 0px;
    }

    .banner-about {
        background-image: url(images/about-banner-tablet.jpg);
        background-size: cover;
    }

    .banner-about h1,
    .banner-service h1 {
        font-size: 2.8rem;
        color: #fff;
        text-align: center;
        font-weight: 900;
        align-self: center;
    }

    .banner-service {
        background-image: url(images/services-banner-tablet.jpg);
        background-size: cover;
    }

    #container-services-01,
    #container-services-02 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .middle-banner {
        height: 60px;
        align-items: center;
         justify-content: center;
        margin: auto;
    }

    .middle-banner-content {
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .middle-banner-content .btn {
        margin: 0px auto;
        width: 25%;
        height: 20px;
    }

    .service-01,
    .service-03 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    .service-02,
    .service-04 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    .service-photo01 img,
    .service-photo02 img,
    .service-photo03 img,
    .service-photo04 img {
        display: flex;
    }

    .service-photo01,
    .service-photo02,
    .service-photo03,
    .service-photo04 {
        display: flex;
        height: 375px;
        width: 218px;
        overflow: hidden;
        margin: auto;
        justify-content: center;
    }

    .sponsors {
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .sponsors-container {
        width: 80%;
        margin: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .sponsors-logo {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sponsors-logo img {
        width: 100%;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
    }

    /* sponsors logos separate sizes */

    .sa-logo {
        width: 435px;
        height: auto;
    }

    .ac-logo {
        width: 202px;
        height: auto;
    }

    .pcl-logo {
        width: 220px;
        height: auto;
    }

    .cibc-logo {
        width: 152px;
        height: auto;
    }

    /* contact tablet*/

    .contact-image {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: center;
        padding: 40px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .submit {
        width: 20%;
        margin: auto 0px;
        display: flex;
        align-self: flex-end;
    }

    .submit a {
        font-weight: bold;
        text-align: center;
        margin: auto;
    }

}

/* breakpoint - desktop */

@media (min-width: 1024px) {

    .heading-01 h1 {
        font-size: 4.5rem;
        font-weight: bolder;
    }

    .paragraph-01 p {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }

    .icons img {
        width: 40%;
    }

    .girl-books img {
        width: 450px;
        align-self: center;
    }

    .content-container-01 {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .intro-btn {
        display: flex;
        margin: 0px 0px 30px 0px;
    }

    .intro-btn a {
        font-weight: bold;
        text-align: center;
        margin: auto;
    }

    .content-container-02 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        gap: 20px;
    }

    .graduation-photo {
        display: none;
    }

    .graduation-desktop,
    .entertainment-desktop {
        display: inline-block;
        width: 50%;
    }

    .graduation-desktop img,
    .entertainment-desktop img {
        max-width: 813px;
        max-height: 337px;
    }

    

    .content-container-02 .column02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-btn {
        width: 40%;
        height: 20px;
        border-radius: 20px;
        text-align: center;
        align-self: flex-end;
    }

    .president-msg {
        display: flex;
        width: 100%;
        margin: auto;
        height: 200px;
    }

    .president-content {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-self: center;
    }

    .president-name {
        display: inline-block;
    }

    .backup-name {
        display: none;
    }

    .president-photo {
        padding: 0px 0px;
        justify-content: center;
    }

    .president-photo img {
        width: 40%;
    }

    .container-three {
        width: 100%;
        margin: auto;
    }

    .content-container-03 {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .girl-photo {
        display: none;
    }

    /* .back-to-top {
    position: fixed;
    bottom: 0px;
    right: 15px;
    background-color: #3c3b3a;
    border-radius: 10px;
    padding: 5px;
} */

    /* About page */

    .construction-content {
        width: 90%;

    }
    .column01 h1{
        font-size: 3.8rem;
        font-weight: bolder;
    }

    .column01 p {
        font-size: 1.1rem;
    }

    .column02 {
        width:100%;
        margin: auto;
    }

    .construction-vector img {
        width: 600px;
        height: auto;
        align-self: center;
    }

    .banner-about {
        background-image: url(images/about-banner-desktop.jpg);
        background-size: cover;
    }

    .banner-about h1,
    .banner-service h1 {
        font-size: 2.8rem;
        color: #fff;
        text-align: center;
        font-weight: 900;
        align-self: center;
    }

    .banner-service {
        background-image: url(images/services-banner-desktop.jpg);
        background-size: cover;
    }

    #about-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        height: 500px;
        align-content: center;
    }

    .service-01,
    .service-02,
    .service-03,
    .service-04 {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        align-content: center;
    }

    .service-photo01 {
        width: 100%;
        height: 200px;
        background-image: url(images/bar-813_x_337.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-photo02 {
        width: 100%;
        height: 200px;
        background-image: url(images/bowling-813_x_337.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-photo03 {
        width: 100%;
        height: 200px;
        background-image: url(images/fitness-813_x_337.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-photo04 {
        width: 100%;
        height: 200px;
        background-image: url(images/climbing-813_x_337.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .service-photo01 img,
    .service-photo02 img,
    .service-photo03 img,
    .service-photo04 img {
        display: none;
    }

    .middle-banner {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middle-banner-content {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .middle-banner-content h1 {
        font-size: 1.2rem;
        text-align: center;
        align-self: center;    
    }

    .middle-banner-content .btn {
        padding: 0px;
        width: 160px;
        height: 25px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: 20px;
        background-color: #26A682;
    }

    .middle-banner-content .btn a {
        align-self: center;
    }


    .sponsors-logo {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }


    /* Contact page form */

    .content-container-03 {
        width: 80%;
        margin: auto;
        margin-top: 80px;
    }

    .content-container-03 .column02 {
        width: 70%;
    }

    .contact-form {
        max-width: 628px;
        height: auto;
    }

    #address {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

/* map embedded from google maps */
    .algonquin-map iframe {
        width:100%;
        height: 320px;
        display: grid;
        justify-content: stretch;
        align-items: center;
        margin-right: 140px;
    }

}