@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
}

section {
    width: 100%;
    margin: auto;
}

.home-container {
    width: 90%;
    margin: auto;
}

.top-container,
footer {
    background-color: #0082FA;
}

.menu-top,
.menu-footer {
    color: #ffffff;
}

.logo {
    width: 25%;
    margin: auto;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-top,
.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu-top li {
    padding: 10px;
}

/* to remove the bullet points */
ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

img {
    margin: auto;
    width: 100%;
}

.home-container h1 {
    font-size: 2rem;
    text-align: center;
}

/** FOOTER **/

.contact-info p {
    color: #ffffff;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 20px;
}

.social-media img {
    width: 20px;
    height: 20px;
}


.boxes {
    width: 90%;
    margin: auto;
    padding-bottom: 80px;
}

.image-work,
.image-accessibility,
.image-specialized {
    width: 100%;
    height: 105px;
    margin: 15px auto;
    background-color: gray;
    overflow: hidden;
}

.image-work img {
    width: 100%;
    height: auto;
}

.image-accessibility img {
    width: 100%;
    height: auto;
    bottom: 200px;
}

.image-specialized img {
    width: 100%;
    height: auto;
}

/** BUTTONS **/
.button {
    background-color: #0082FA;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.button:hover {
    background-color: #61d8ff;
}

.button:hover a {
    color: #000000;
    font-weight: 600;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

/*** RESPONSIVE LAYOUT - TABLET ***/

@media (min-width:768px) {

    .menu-top,
    .menu-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


/*** RESPONSIVE LAYOUT - DESKTOP ***/

@media (min-width:1024px) {}