@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
}

section {
    width: 100%;
    margin: auto;
}

.home-container {
    width: 80%;
    margin: auto;
    justify-content: center;
}

.top-container,
footer {
    background-color: #0082FA;
}

.menu-top,
.menu-footer {
    color: #ffffff;
}

.logo {
    width: 25%;
    margin: auto;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-top,
.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu-top li {
    padding: 10px;
}

/* to remove the bullet points */
ul {
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

nav a:hover {
    font-weight: bold;
}

img {
    margin: auto;
    width: 100%;
}

.home-container h1 {
    font-size: 2rem;
    text-align: center;
}

/** FOOTER **/

.contact-info p {
    color: #ffffff;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 20px;
}

.social-media img {
    width: 20px;
    height: 20px;
}

.boxes {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.image-work,
.image-accessibility,
.image-specialized {
    width: 100%;
    height: 105px;
    margin: 15px auto;
    background-color: gray;
    overflow: hidden;
}

.image-work {
    background-image: url(images/work_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.image-accessibility {
    background-image: url(images/accessibility_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.image-specialized {
    background-image: url(images/content_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/** BUTTONS **/
.button {
    background-color: #0082FA;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.button:hover {
    background-color: #61d8ff;
}

.button:hover a {
    color: #000000;
    font-weight: 600;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

/* Page content for Accessibility */

.page-text h1 {
    text-align: left;
}

/* to remove the padding on the list objects */
.page-text ul {
    padding: 0px 0px;
}



/*** RESPONSIVE LAYOUT - TABLET ***/

@media (min-width: 500px) {

    .top-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    .menu-footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        width: 133px;
        height: 65px;
        align-self: center;
        margin: 0px 0px;
    }

    .image-work,
    .image-accessibility,
    .image-specialized {
        width: 100%;
        height: 225px;
        margin: 15px auto;
        background-color: gray;
        overflow: hidden;
    }

    .image-work {
        background-image: url(images/work_tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-accessibility {
        background-image: url(images/accessibility_tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-specialized {
        background-image: url(images/content_tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/*** RESPONSIVE LAYOUT - DESKTOP ***/

@media (min-width:1024px) {
.menu-top nav {
    justify-content: end;
}
.home-container h1 {
    font-size: 4rem;
}
.front-page {
display: grid;
grid-template-columns: 50% 50%;
gap: 20px;
}

.greetings p{
    font-size: 1.6rem;
    align-self: center;
    margin: 0px 0px;
}

.boxes {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

    .image-work,
    .image-accessibility,
    .image-specialized {
        width: 346px;
        height: 346px;
        margin: 15px auto;
        background-color: gray;
        overflow: hidden;
    }

    .image-work {
        background-image: url(images/work_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-accessibility {
        background-image: url(images/accessibility_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .image-specialized {
        background-image: url(images/content_desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .profile-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

    }

    .page-text h1 {
        font-size: 2.8rem;
    }

    .work-content {
        margin-bottom: 50px;
    }

}