html {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    /* responsive */
    width: 100%;
    margin: auto;
}

header {
    width: 80%;
    margin: auto;
}

.logo img {
    width: 100px;
    height: auto;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 80%;
    height: 700px;
    margin: auto;
}

.wallpaper img {
    width: 80%;
    height: auto;
    align-self: center;
}

.large-text {
    font-size: 4rem;
}

.form-box {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #57eeab;
    padding: 10px 5c;
    border-radius: 20px;
}

button p {
    font-size: 1rem;
    
}

footer {
    width: 100%;
    margin: auto;
    background-color: #fffd8c;
}

.footer-content {
    
    display: flex;
    width: 80%;
    margin: auto;

}

footer form {
    display: flex;
    flex-direction: row;

}

/*** BREAKPOINT ***/

@media (max-width: 800px) {
    #container {
        height: 1200px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

@media (max-width: 600px) {
    #container {
        height: 1200px;
    }
}