html {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7ff;
    /* responsive */
    width: 100%;
    margin: auto;
}

header {
    width: 80%;
    margin: auto;
}

.logo img {
    width: 100px;
    height: auto;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 80%;
    height: 700px;
    margin: auto;
}

.wallpaper img {
    width: 80%;
    height: auto;
    align-self: center;
}

.large-text {
    font-size: 4rem;
}

.form-box {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.drive {
    background-color: #57eeab;
    padding: 2px 5px;
    border-radius: 20px;
}

.calculate {
    background-color: #ff8480 ;
    padding: 10px 5px;
    border-radius: 20px;
}


button p {
    font-size: 1rem;
    
}

footer {
    width: 100%;
    margin: auto;
    background-color: #fffd8c;
}

.footer-content {
    
    display: flex;
    width: 80%;
    margin: auto;

}

footer form {
    display: flex;
    flex-direction: row;

}

.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    align-content: center;
    
}

.social img {
    padding: 20px;
}

input {
    margin: 10px 0px;
}

/*** BREAKPOINT ***/

@media (max-width: 800px) {
    #container {
        height: 1200px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .social {
        display: flex;
        justify-content: space-around;
    }

}

@media (max-width: 500px) {
    #container {
        height: 1200px;
    }
    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .estimate form {
        width: 100%;
        margin: auto;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .estimate input {
        width: 100%;
    }
    .hours {
        flex-grow: 1;
        width: 20%;
        margin: auto;
    }

    .city {
        flex-grow: 4;
        width: 80%;
        margin: auto;
    }
    .calculate {
        margin: auto;
        width:100%;
    }

    .social {
        display: flex;
        justify-content: space-around;
    }
    .estimate form input {
        margin: 10px 0px;
    }
}